h1,image,div{
    border: 4px solid #a31515;
}
/* Header Container */
.header-container {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  /* Navigation */
  .header-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .header-container nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .header-container nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  /* Main Content */
  main {
    padding: 20px;
  }
  
  /* Image */
  .image {
    max-width: 100%;
    max-height: 100%;
  }
  
 