#head{
    color: rgb(25, 87, 181);
    background-color:rgb(228, 49, 49);
       font-style:italic;
       font-weight: 6000;
}

#para{
    color: green;
    background-color: skyblue;
    border: 0cqmax;
}

