.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: transform 0.5s;
  }
  
  .box:hover {
    transform: translate(50px, 50px) rotate(45deg) scale(1.2) skew(10deg,10deg)
  }
  